<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
{#    <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css" />#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
    {% block headlink %}
    {% endblock %}
{#    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>#}
    <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
{#    <script src="http://cdn.foundation5.zurb.com/foundation.js"></script>#}
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/socket.io.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/three/three.js') }}"></script>
    {% block headjs %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    <script>
      $(document).foundation();
    </script>
</body>
</html>