{% extends 'base.html' %}

{% block headjs %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/three/OrbitControls.js') }}"></script>
{% endblock %}

{% block content %}

    <div id="container"></div>
    <div class="row">
        <div class="small-3 small-text-center column">
            <span id="mood">Neutro</span>
        </div>
        <div class="small-3 small-text-center column">
            <div style="background-color: #ff8b08">humor</div>
        </div>
        <div class="small-3 small-text-center column">
            <div style="background-color: #08ffff">evento</div>
        </div>
        <div class="small-3 small-text-center column">
            <div style="background-color: #2cff08">personalidade</div>
        </div>
    </div>

    <script>
        var container = document.getElementById( 'container' );

        var scene = new THREE.Scene();
        var camera = new THREE.PerspectiveCamera( 60, window.innerWidth / window.innerWidth, 1, 5 );
{#        var camera = new THREE.PerspectiveCamera( 60, container.width() / container.width(), 1, 5 );#}

        controls = new THREE.OrbitControls( camera );
        //controls.damping = 0.2;
        controls.addEventListener( 'change', render );

        var renderer = new THREE.WebGLRenderer();
        container.appendChild( renderer.domElement );

        renderer.setSize( window.innerWidth, window.innerWidth );
        //document.body.appendChild( renderer.domElement );

        var geometry = new THREE.BoxGeometry( 2, 2, 2 );
        var material = new THREE.MeshBasicMaterial( {
            color: 0x00ff00
        } );

        var mesh = new THREE.Mesh( geometry, material );
        var edge = new THREE.EdgesHelper( mesh, 0x00ffff );
        edge.material.linewidth = 3;
        scene.add( edge );

        var gridXZ = new THREE.GridHelper(1, 1);
        scene.add(gridXZ);

        var gridXY = new THREE.GridHelper(1, 1);
        gridXY.rotation.x = Math.PI/2;
        scene.add(gridXY);

        var gridYZ = new THREE.GridHelper(1, 1);
        gridYZ.rotation.z = Math.PI/2;
        scene.add(gridYZ);

        // event sphere
        var occ_geom = new THREE.SphereGeometry( 0.1, 8, 8 );
        var occ_mat = new THREE.MeshBasicMaterial( {color: 0x08ffff} );
        var occ_sphere = new THREE.Mesh( occ_geom, occ_mat );
        scene.add( occ_sphere );

        // personality shpere
        var pers_geom = new THREE.SphereGeometry( 0.1, 8, 8 );
        var pers_mat = new THREE.MeshBasicMaterial( {color: 0x2cff08} );
        var pers_sphere = new THREE.Mesh( pers_geom, pers_mat );
        scene.add( pers_sphere );

        // mood sphere
        var mood_geom = new THREE.SphereGeometry( 0.1, 8, 8 );
        var mood_mat = new THREE.MeshBasicMaterial( {color: 0xff8b08} );
        var mood_sphere = new THREE.Mesh( mood_geom, mood_mat );
        scene.add( mood_sphere );

        // emotions spheres
        var anger_geom = new THREE.SphereGeometry( 0.1, 8, 8 );
        var anger_mat = new THREE.MeshBasicMaterial( {color: 0xff0000} );
        var anger_sphere = new THREE.Mesh( anger_geom, anger_mat );
        scene.add( anger_sphere );
        anger_sphere.position.set(-0.51, 0.59, 0.25);

        var fear_geom = new THREE.SphereGeometry( 0.1, 8, 8 );
        var fear_mat = new THREE.MeshBasicMaterial( {color: 0x000d94} );
        var fear_sphere = new THREE.Mesh( fear_geom, fear_mat );
        scene.add( fear_sphere );
        fear_sphere.position.set(-0.64, 0.6, -0.43);

        var joy_geom = new THREE.SphereGeometry( 0.1, 8, 8 );
        var joy_mat = new THREE.MeshBasicMaterial( {color: 0xffff00} );
        var joy_sphere = new THREE.Mesh( joy_geom, joy_mat );
        scene.add( joy_sphere );
        joy_sphere.position.set(0.4, 0.2, 0.1);

        var love_geom = new THREE.SphereGeometry( 0.1, 8, 8 );
        var love_mat = new THREE.MeshBasicMaterial( {color: 0xff0050} );
        var love_sphere = new THREE.Mesh( love_geom, love_mat );
        scene.add( love_sphere );
        love_sphere.position.set(0.3, 0.1, 0.2);

        var distress_geom = new THREE.SphereGeometry( 0.1, 8, 8 );
        var distress_mat = new THREE.MeshBasicMaterial( {color: 0x95a2a3} );
        var distress_sphere = new THREE.Mesh( distress_geom, distress_mat );
        scene.add( distress_sphere );
        distress_sphere.position.set(-0.4, -0.2, -0.5)

        var axis = new THREE.AxisHelper(1.5);
        axis.material.linewidth = 3;
        scene.add(axis);

        camera.position.z = 3;

        var render = function() {
            requestAnimationFrame( render );
            renderer.render( scene, camera );
        };
        render();

        $(document).ready(function(){
            var socket = io.connect('http://' + document.domain + ':' + location.port+'/socket');

            socket.on('ocean_updated', function(data) {
                pers_sphere.position.set(data.pers_p, data.pers_a, data.pers_d);
                mood_sphere.position.set(data.mood_p, data.mood_a, data.mood_d);
            });

            socket.on('occ_updated', function(data) {
                occ_sphere.position.set(data.p, data.a, data.d);
            });

            socket.on('mood_updated', function(data) {
                console.log('Mood updated');
                mood_sphere.position.set(data.p, data.a, data.d);
                $('#mood').text(data.mood);
            });

{#            var interval = setInterval(function(){#}
{#                socket.emit('mood_get')#}
{#            }, 500);#}
        });
    </script>

{% endblock %}